---
layout: default
---

<div class="container">
    <div class="row">
        <div class="navigation">
            <nav class="navigation">
                {% assign navItems = collections.all | where: "data.lang", lang %}
                {{ navItems | eleventyNavigation | eleventyNavigationToHtml }}
            </nav>
        </div>
        <div class="main">
            <div class="breadcrumb">
                {{ collections.all | eleventyNavigationBreadcrumb: eleventyNavigation.key, navOptions | eleventyNavigationToHtml }}
            </div>
            {{ content }}
        </div>
        <div>
            <div class="theme-container">
                <span>Theme</span>
                <select id="theme">
                    <option value="os">OS</option>
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
            <div class="toc-container">
                <h3>On this page:</h3>
            </div>
        </div>
    </div>
</div>
