<header class="page-toolbar">
    <div class="page-toolbar-contents container">
        <div class="brand">
            <img class="toolbar-icon" src="/assets/img/iso_gobstones.svg" />
            <a href="/">
                @gobstones/gobstones-guidelines
            </a>
        </div>
        <nav>
            <a href="https://github.com/gobstones/gobstones-guidelines">
                <img
                    class="toolbar-icon icon-inverted"
                    src="/assets/img/iso_github.svg"
                    alt="Go to repository"
                />
            </a>
        </nav>
    </div>
</header>
